$primary: #1842b6;
$secondary: #26d48c;
$light: #f8f8f9;
$dark: #000103;

$font-family-base: "Inter", sans-serif;

$headings-font-family: "Saira", sans-serif;

$body-color: #787878;

$headings-color: $dark;

$headings-font-weight: 600;

$display-font-weight: 700;

$enable-responsive-font-sizes: true;

$border-radius: 8px;

$border-radius-sm: $border-radius;

$border-radius-lg: $border-radius;

$link-decoration: none;

$enable-negative-margins: true;
/*** Team Start ***/
#business_team {
  .team-item {
    border-top: 30px solid var(--bs-secondary) !important;
    background: rgba(239, 239, 241, 0.8);
  }

  .team-content::before {
    height: 200px;
    display: block;
    content: "";
    position: relative;
    top: -101px;
    background: var(--bs-secondary);
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    padding: 60px;
    opacity: 1;
  }

  .team-img-icon {
    position: relative;
    margin-top: -200px;
    padding: 30px;
    padding-bottom: 0;
  }

  .team-img {
    border: 15px solid var(--bs-white);
  }

  .team-img img {
    border: 10px solid var(--bs-secondary);
    transition: 0.5s;
  }

  .team-item:hover h4 {
    color: var(--bs-primary);
    transition: 0.5s;
  }

  .team-item:hover .team-img img {
    transform: scale(1.05);
    border: 10px solid var(--bs-secondary);
  }

  .team-carousel .owl-stage {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .team-carousel .owl-nav {
    position: absolute;
    top: -100px;
    right: 50px;
    display: flex;
  }

  .team-carousel .owl-nav .owl-prev,
  .team-carousel .owl-nav .owl-next {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin-left: 15px;
    background: var(--bs-secondary);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }

  .team-carousel .owl-nav .owl-prev:hover,
  .team-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
  }

  @media (max-width: 992px) {
    .team-carousel {
      margin-top: 3rem;
    }

    .team-carousel .owl-nav {
      top: -85px;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      margin-left: -15px;
    }
  }
}
@import "bootstrap/scss/bootstrap";
